/*======================================================================
    This style sheet contains the rules for the Gallery and lightbox.
  =======================================================================*/
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  cursor: pointer;
} /* Hover zoom for photos */

.gallery img.photo:hover {
  transform: scale(var(--zoom, 2.5));
  z-index: 10;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  margin: 80px;
} /* Lightbox styling */

.gallery img {
  max-width: 150px;
  margin: 10px;
  cursor: pointer;
  border: 2px solid var(--light-grey);
  transition: border 0.2s;
}
.gallery img:hover {
  border-color: var(--light-grey);
}
.svg-line {
  fill: none;
  stroke: var(--black);
  stroke-width: 2;
}

.lightbox-content {
  /*display: block;*/
  padding: 40px 0; /* ✅ space above and below image */
  text-align: center;
}
.lightbox img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 20px auto;
  /* transform-origin: top center;*/
  box-shadow: 0 0 10px var(--white);
}
#lightbox {
  display: none;
  position: fixed;
  inset: 0;
  background: var(--background);
  z-index: 1000;
  overflow-x: auto; /* enable sideways scroll */
  overflow-y: auto; /* enable vertical scroll */
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  text-align: center;
}
#lightbox img {
  max-width: 90%;
  max-height: 90%;
  margin: auto;
  display: block;
  position: relative;
  z-index: 1001;
}
.gallery img,
figure.military-document img,
figure.document img {
  max-width: 100%;
  height: auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

.document {
  text-align: center;
}
